
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Simple example - Editor.md examples</title>
        <link rel="stylesheet" href="__WEB_SITE__public/editor.md/examples/css/style.css" />
        <link rel="stylesheet" href="__WEB_SITE__public/editor.md/css/editormd.css" />
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div id="layout">
            <header>
                <h1>发表博文</h1>
            </header>
            <form action="index.php?m=index&c=index&">

                <div id="test-editormd">
                    <textarea style="display:none;" name='con'></textarea>

                </div> <input type="submit" value="提交" />
            </form>
        </div>
        <script src="__WEB_SITE__public/editor.md/examples/js/jquery.min.js"></script>
        <script src="__WEB_SITE__public/editor.md/editormd.min.js"></script>
        <script type="text/javascript">
			var testEditor;

            $(function() {
                testEditor = editormd("test-editormd", {
                    width   : "60%",
                    height  : 400,
                    syncScrolling : "single",
                    path    : "__WEB_SITE__public/editor.md/lib/"
                });
                
                /*
                // or
                testEditor = editormd({
                    id      : "test-editormd",
                    width   : "90%",
                    height  : 640,
                    path    : "../lib/"
                });
                */
            });
        </script>
    </body>
</html>